* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#nav-bar {
  top: 0px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(255, 255, 255);
  overflow: hidden;
}
@media only screen and (max-width: 600px) {
  #nav-bar ul {
    display: flex;
  }
}
